﻿
@{
    ViewBag.Title = "Index";
}

@section scripts{

    <script type="text/javascript" src="../Scripts/Angular/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/modules/module.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/angular-animate.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/services/services.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/controller/controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/filter/pagination.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
}
<div data-ng-app="Contestant" data-ng-controller="contestant">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">             
                <div class="input-group">
                    From Date
                    <input type="date"  class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                </div>
            </div>
            <div class="col-md-4">
                <p class="input-group">
                    To Date
                    <input type="date"  class="form-control" uib-datepicker-popup ng-model="to" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                </p>
            </div>
            <div class="col-md-4">
                <br />
                <p class="input-group">
                    <input type="button" class=" btn btn-blue" data-ng-click="searchContestant()" value="search" />
                </p>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="">
            <thead>
                <tr class="breadcrumb">
                    <th class="center">FullName</th>
                    <th class="center">Date of Birth</th>
                    <th class="center">District</th>
                    <th class="center">Average Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in data">
                    <td class="center">
                        {{item.FirstName}}&nbsp;&nbsp;{{item.LastName}}
                    </td>
                    <td class="center">
                        {{item.DOB}}
                    </td>
                    <td>{{item.District}}</td>

                    <td class="center">
                        {{item.AverageRating}}
                        <a href="" ng-click="rate(item)" class="btn alert-link"><i class="clip-thumbs-up"></i>rate this contestant</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/ng-template" id="rating.html">
        <div class="modal-header">
            <h3 class="modal-title">Rate Constestant</h3>
        </div>
        <div class="modal-body">
            <label>
                <input type="radio" ng-model="ratingVal.value" value="1">
                1
            </label>
            <label>
                <input type="radio" ng-model="ratingVal.value" value="2">
                2
            </label>
            <label>
                <input type="radio" ng-model="ratingVal.value" value="3">
                3
            </label>
            <label>
                <input type="radio" ng-model="ratingVal.value" value="4">
                4
            </label>
            <label>
                <input type="radio" ng-model="ratingVal.value" value="5">
                5
            </label>
            <br />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="rate()">rate</button>
            <button class="btn btn-warning" type="button" ng-click="close()()">Cancel</button>
        </div>
    </script>
 
</div>
