﻿
@{
    ViewBag.Title = "Index";
}

<h2>Map</h2>

<style>
    #map {
        height: 500px;
        width: 100%;
    }

    .leaflet-map-pane {
        z-index: 2 !important;
    }

    .leaflet-google-layer {
        z-index: 1 !important;
    }
</style>
@section scripts{
    <!-- put all these inside bundle config later -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<link rel="stylesheet" href="~/Scripts/angular-lightbox/src/angular-bootstrap-lightbox.css">

<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script src="/Scripts/map/leaflet-google.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src="/Scripts/map/mask.js"></script>
<script src="/Scripts/map/nepal.js"></script>

<script type="text/javascript" src="../Scripts/Angular/angular.min.js"></script>
<script type="text/javascript" src="../Scripts/Angular/modules/module.js"></script>
<script type="text/javascript" src="../Scripts/Angular/angular-resource.min.js"></script>
<script type="text/javascript" src="~/Scripts/Angular/angular-animate.js"></script>
<script type="text/javascript" src="~/Scripts/Angular/services/services.js"></script>
<script type="text/javascript" src="../Scripts/Angular/controller/controller.js"></script>
<script type="text/javascript" src="~/Scripts/Angular/filter/pagination.js"></script>

<script src="~/Scripts/Angular/ui-bootstrap.min.js"></script>
<script src="~/Scripts/Angular/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/angular-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
<script>
    contestantController.controller('map', ['$scope', 'cService', '$modal', function ($scope, cService, $modal) {
        console.log("a")
        var map = new L.Map('map', { center: new L.LatLng(28, 86), zoom: 7 });
        var googleLayer = new L.Google('ROADMAP');
        map.addLayer(googleLayer);

        function onEachFeature(feature, layer) {
            layer.on('click', function (e) {

                $scope.name = feature.properties.name
                var id = feature.properties.id;

                //ajax call to server
                var result = cService.Map(id);
                result.then(function (response) {
                    $scope.data = JSON.parse(response.data);
                    $scope.pop()
                    console.log(response.data)
                }, function (error) { console.log(error) });


                $scope.pop = function () {
                    var modalInstance = $modal.open({
                        templateUrl: 'user.html',
                        controller: 'mapModal',
                        resolve: {
                            info: function () {
                                return $scope.data;
                            },
                            districname: function () {
                                return $scope.name;
                            }
                        }
                    });;
                }
            });
        }
        var geolayer = L.geoJson(nepalData, {
            onEachFeature: onEachFeature
        }
          ).addTo(map);

        // Then move the map
        map.panBy(new L.Point(-150, 0));
        L.geoJson(maskdata).addTo(map);
    }]);
</script>

<script>
    contestantController.controller('mapModal', ['$scope','info','districname', '$modalInstance', function ($scope,info,districname, $modalInstance) {
        $scope.name = districname;
        $scope.data = info;
 
        $scope.close = function () {
            $modalInstance.dismiss('cancel');
        };
    }])
</script>

}

<div ng-app="Contestant" ng-controller="map">

    <div id="map"></div>

    <script type="text/ng-template" id="user.html">
        <div class="modal-header">
            <h3 class="modal-title">{{name}}</h3>
        </div>
        <div class="modal-body">
            <div class="table" align="center">
                <table class="table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Dob</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.LastName}}</td>
                            <td>{{item.Address}}</td>
                            <td>{{item.Gender}}</td>
                            <td>{{item.Dob}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="close()()">Close</button>
        </div>
    </script>
</div>






