﻿
<!DOCTYPE html>

<html lang="en" class="no-js">

<!-- start: HEAD -->
<head>
    <title>Contestant</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    @Styles.Render("~/Content/ClipOneCss/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/Content/favicon.ico" />
    <style>
        .icon {
            max-width: 40%;
            max-height: 40%;
        }

        ul.main-navigation-menu > li.active > a {
            background: #287DA5 !important;
            border-top: none !important;
            color: #fff;
        }

        #header {
            background: rgb(219, 219, 219);
        }
    </style>

</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top" id="header">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="">
                    <img src="/Content/images/logo1.png" class="icon" />
                </a>
                <!-- end: LOGO -->
            </div>
            <div class="navbar-tools">
                <ul class="nav navbar-right"></ul>
            </div>
        </div>
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">

                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu">

                    <li>
                        <a href="@Url.Action("Index","ContestantInfoes")">
                            <i class="clip-user-6"></i>
                            <span class="title"> Contestant </span><span class="selected"></span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "ContestantRating")">
                            <i class="clip-star-4"></i>
                            <span class="title">Contestant Rating</span><i class="selected"></i>
                            <span class="selected"></span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Gallery")">
                            <i class="clip-images"></i>
                            <span class="title"> Photo Gallery </span><i class="selected"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Map")">
                            <i class="clip-locked"></i>
                            <span class="title"> Map </span><i class="selected"></i>
                            <span class="selected"></span>
                        </a>
                    </li>

                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>
        <!-- start: PAGE -->
        <div class="main-content">

            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">

                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <div id="pagetitle">
                            @if (IsSectionDefined("PageTitle"))
                            {
                                @RenderSection("PageTitle", required: false)
                            }
                        </div>

                        <div class="page-header">
                            <h1> <small></small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: INBOX PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="icon-external-link-sign"></i>
                            </div>
                            <div class="panel-body">
                                @RenderBody()

                            </div>
                        </div>
                    </div>
                    <!-- end: INBOX PANEL -->
                </div>
            </div>
            <!-- end: PAGE CONTENT-->
        </div>
    </div>
    <!-- end: PAGE -->
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            &#64;@DateTime.Now.ToString("yyyy/MM/dd") &copy;Rabin Prajapati.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/ClipOne")
        @RenderSection("scripts", required: false)
        <script>
            jQuery(document).ready(function () {
                Main.init();
            });
        </script>
    </div>

</body>
<!-- end: BODY -->
</html>