﻿@model IEnumerable<Contestant.Entities.Models.ContestantInfo>

@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@

    @{
        ViewBag.Title = "Index";
    }
<div class="row">
    <div class="col-md-12">
        <a href="/ContestantInfoes/Create" class="btn btn-blue col-md-3"><i class="new-account"></i>New</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-striped">
            <tr class="breadcrumb">
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.District.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District.Name)
                    </td>
                    <td>
                        <a href="/ContestantInfoes/Edit/@item.Id" class="btn btn-light-grey"><i class="icon-edit"></i></a> |
                        <a href="/ContestantInfoes/Delete/@item.Id" class="btn btn-red">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>
<script src="~/Scripts/jquery-1.10.2.min.js">
</script>
