﻿
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <link rel="stylesheet" href="~/Scripts/angular-lightbox/src/angular-bootstrap-lightbox.css">

    <script type="text/javascript" src="../Scripts/Angular/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/modules/module.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/angular-animate.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/services/services.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/controller/controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/filter/pagination.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>*@
    <script src="~/Scripts/Angular/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/Angular/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-lightbox/dist/angular-bootstrap-lightbox.min.js"></script>
}
<div ng-app="Contestant" ng-controller="gallery">
    <ul>
        <li ng-repeat="image in images track by $index">
            <a ng-click="openLightboxModal($index)">
                <img ng-src="{{image.url}}" clas class="img-thumbnail">
            </a>
        </li>
    </ul>
</div>

